@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Merriweather", serif;
  background: #edeee0;
  color: #1e1e1e;
}

button,
input {
  font-family: inherit;
}
